<html>
<head></head>
<body>
  <h1>Welcome to WebGuesser</h1>

  The secret number is 6.
  You guessed <%= last_guess %>.
  <% if last_guess > 6 %>
    Sorry, that's too high.
  <% end %>
  Sorry, that's too low.
  
</body>
</html>
