<html>
<head></head>
<body>
  <h1>Welcome to WebGuesser</h1>

  The secret number is <%= secret %>.
  You guessed <%= last_guess %>.
  <% if result == :too_high %>
    Sorry, that's too high.
  <% else %>
    Sorry, that's too low.
  <% end %>
  
</body>
</html>
